@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #ee2b4b;
  --color-background-light: #f8f6f6;
  --font-display: "Be Vietnam Pro", sans-serif;
  --radius-xl: 3rem;
  --radius-lg: 2rem;
  --radius-default: 1rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.romantic-gradient {
  background: radial-gradient(circle at center, #fff5f6 0%, #fdf2f4 100%);
}

:root {
  --background: #f8f6f6;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}